*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#111;
  color:white;
}

/* HERO */

.hero{

  height:100vh;

  background:
  linear-gradient(
  rgba(0,0,0,0.6),
  rgba(0,0,0,0.7)),

  url("imagens/capa.jpeg");

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:end;

  padding:40px 20px;
}

.overlay{
  text-align:center;
}

.overlay h1{
  font-size:50px;
  margin-bottom:10px;
}

.sub{
  font-size:22px;
  color:#d4b28c;
  margin-bottom:20px;
}

.descricao{
  font-size:16px;
  line-height:24px;
  color:#ddd;
  margin-bottom:30px;
}

.botao{

  display:inline-block;

  background:#d4b28c;

  color:black;

  padding:15px 30px;

  border-radius:50px;

  text-decoration:none;

  font-weight:bold;
}

/* SOBRE */

.sobre{
  padding:50px 25px;
  text-align:center;
}

.sobre h2{
  font-size:35px;
  margin-bottom:20px;
  color:#d4b28c;
}

.sobre p{
  line-height:28px;
  color:#ccc;
}

/* SERVIÇOS */

.servicos{
  padding:20px;
}

.servicos h2{
  text-align:center;
  font-size:35px;
  margin-bottom:30px;
  color:#d4b28c;
}

.cards{
  display:flex;
  flex-direction:column;
  gap:25px;
}

/* CARD */

.card{

  background:#1b1b1b;

  border-radius:20px;

  overflow:hidden;

  box-shadow:
  0 5px 20px rgba(0,0,0,0.4);
}

.card img{
  width:100%;
  display:block;
}

.info{
  padding:20px;
}

.info h3{
  font-size:24px;
  margin-bottom:10px;
}

.info span{
  display:block;
  font-size:28px;
  color:#d4b28c;
  margin-bottom:15px;
  font-weight:bold;
}

.info p{
  color:#bbb;
  margin-bottom:20px;
}

.info a{

  display:block;

  text-align:center;

  background:#d4b28c;

  color:black;

  padding:14px;

  border-radius:12px;

  text-decoration:none;

  font-weight:bold;
}

/* WHATSAPP */

.whatsapp{

  position:fixed;

  bottom:20px;
  right:20px;

  background:#25D366;

  color:white;

  padding:15px 20px;

  border-radius:50px;

  text-decoration:none;

  font-weight:bold;
}

/* PC */

@media(min-width:768px){

  .cards{

    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;

  }

  .card{
    width:320px;
  }

}